
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="/Content/AdminLayout/img/favicon.png">

    <title>Kurumsal Web Admin Giriş Paneli</title>

    <!-- Bootstrap CSS -->
    <link href="/Content/AdminLayout/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/Content/AdminLayout/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/Content/AdminLayout/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/Content/AdminLayout/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/Content/AdminLayout/css/style.css" rel="stylesheet">
    <link href="/Content/AdminLayout/css/style-responsive.css" rel="stylesheet" />
</head>

<body class="login-img3-body">

    <div class="container">

        <form class="login-form" action="/Admin/Login" method="post">
            <div class="login-wrap">
                <p class="alert text-danger">@ViewBag.uyari</p>
                <p class="login-img"><i class="icon_lock_alt"></i></p>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="Eposta" placeholder="E-Posta" autofocus>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" name="Sifre" placeholder="Şifre">
                </div>
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> Beni Hatırla
                    <span class="pull-right"> <a href="#"> Forgot Password?</a></span>
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Giriş Yap</button>
                <a href="/Admin/SifremiUnuttum" class="btn btn-danger btn-lg btn-block">Şifremi Unuttum</a>
            </div>
        </form>
        <div class="text-right">
            <div class="credits">
                
            </div>
        </div>
    </div>


</body>

</html>

