USE [master]
GO
/****** Object:  Database [MVCKurumsalDB]    Script Date: 16.08.2020 21:06:13 ******/
CREATE DATABASE [MVCKurumsalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVCKurumsalDB', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MVCKurumsalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MVCKurumsalDB_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MVCKurumsalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCKurumsalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCKurumsalDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[Yetki] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](max) NULL,
	[Icerik] [nvarchar](max) NULL,
	[ResimUrl] [nvarchar](max) NULL,
	[KategoriId] [int] NULL,
 CONSTRAINT [PK_dbo.Blog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hakkimizda]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hakkimizda](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [nvarchar](max) NOT NULL,
	[ResimUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hakkimizda] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hizmet]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hizmet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ResimUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Hizmet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iletisim]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iletisim](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Adres] [nvarchar](500) NOT NULL,
	[Tel] [nvarchar](50) NOT NULL,
	[Fax] [nvarchar](max) NULL,
	[Whatsapp] [nvarchar](max) NULL,
	[Facebook] [nvarchar](max) NULL,
	[Twitter] [nvarchar](max) NULL,
	[Instagram] [nvarchar](max) NULL,
	[Mail] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_dbo.Iletisim] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoriler]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoriler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [nvarchar](50) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kategoriler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kimlik]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kimlik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Keywords] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[Unvan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kimlik] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajlar]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](30) NOT NULL,
	[Soyad] [nvarchar](30) NOT NULL,
	[Mail] [nvarchar](150) NOT NULL,
	[Konu] [nvarchar](50) NOT NULL,
	[Mesaj] [nvarchar](max) NOT NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Mesajlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](50) NULL,
	[Aciklama] [nvarchar](150) NULL,
	[ResimUrl] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Slider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorumlar]    Script Date: 16.08.2020 21:06:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorumlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](60) NOT NULL,
	[Eposta] [nvarchar](max) NOT NULL,
	[Yorum] [nvarchar](max) NULL,
	[BlogId] [int] NULL,
	[Onay] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Yorumlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Id], [Eposta], [Sifre], [Yetki]) VALUES (1, N'admin@admin.com', N'202CB962AC59075B964B07152D234B70', N'Admin')
INSERT [dbo].[Admin] ([Id], [Eposta], [Sifre], [Yetki]) VALUES (5, N'editor@editor.com', N'202CB962AC59075B964B07152D234B70', N'Editör')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Hakkimizda] ON 

SET IDENTITY_INSERT [dbo].[Hakkimizda] OFF
GO
SET IDENTITY_INSERT [dbo].[Hizmet] ON 

INSERT [dbo].[Hizmet] ([Id], [Baslik], [Aciklama], [ResimUrl]) VALUES (1, N'taşımacılık', N'<p>asdasdasd</p>
', N'/Uploads/Hizmet/9a556c7d-8c76-45f0-9a56-db388553c338.png')
INSERT [dbo].[Hizmet] ([Id], [Baslik], [Aciklama], [ResimUrl]) VALUES (3, N'Hizmet 2', N'<p>Hizmet 2 A&ccedil;ıklama</p>
', N'/Uploads/Hizmet/crop.png.png')
INSERT [dbo].[Hizmet] ([Id], [Baslik], [Aciklama], [ResimUrl]) VALUES (4, N'Hizmet 3', N'<p>Hizmet 3 A&ccedil;ıklama</p>
', N'/Uploads/Hizmet/Ek Açıklama 2020-08-10 221846.png.png')
SET IDENTITY_INSERT [dbo].[Hizmet] OFF
GO
SET IDENTITY_INSERT [dbo].[Iletisim] ON 

INSERT [dbo].[Iletisim] ([Id], [Adres], [Tel], [Fax], [Whatsapp], [Facebook], [Twitter], [Instagram], [Mail]) VALUES (1, N'Gaziantep', N'53863', N's55', N's55', N's55', N's55', N's55', N'nakliye@nakliye.com.tr')
SET IDENTITY_INSERT [dbo].[Iletisim] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategoriler] ON 

INSERT [dbo].[Kategoriler] ([Id], [KategoriAd], [Aciklama]) VALUES (1, N'Genel', N'<p>Genel <strong>Kategori</strong></p>
')
INSERT [dbo].[Kategoriler] ([Id], [KategoriAd], [Aciklama]) VALUES (2, N'Hizmet', N'Hizmetler')
SET IDENTITY_INSERT [dbo].[Kategoriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Kimlik] ON 

INSERT [dbo].[Kimlik] ([Id], [Title], [Keywords], [Description], [Logo], [Unvan]) VALUES (1, N'Kurumsal Web', N'kurumsal, Web,Site,Nakliye', N'<p>Kurumsal Web Sitesi1 <strong>Hasan Erdal</strong></p>
', N'/Uploads/Kimlik/2c12d840-857f-49e2-8066-dc9b4089e0e7.png', N'Kurumsal Web Unvan')
SET IDENTITY_INSERT [dbo].[Kimlik] OFF
GO
SET IDENTITY_INSERT [dbo].[Mesajlar] ON 

INSERT [dbo].[Mesajlar] ([Id], [Ad], [Soyad], [Mail], [Konu], [Mesaj], [Durum]) VALUES (2, N'deneme', N'deneme', N'deneme', N'deneme', N'deneme', 1)
INSERT [dbo].[Mesajlar] ([Id], [Ad], [Soyad], [Mail], [Konu], [Mesaj], [Durum]) VALUES (3, N'hassn', N'erdall', N'hasaerda@hotmail.com', N'denemeee', N'deneme mesajı', 0)
INSERT [dbo].[Mesajlar] ([Id], [Ad], [Soyad], [Mail], [Konu], [Mesaj], [Durum]) VALUES (4, N'asdasdasd', N'asdasda', N'asdasdasd', N'asdasdasd@gmail.com', N'asdasdasdasdasdasdasdasdasd', 1)
SET IDENTITY_INSERT [dbo].[Mesajlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([Id], [Baslik], [Aciklama], [ResimUrl]) VALUES (1, N'Taşımacılık yeni', N'Evden eve nakliye hizmeti verilir. yeni', N'/Uploads/Slider/f36a81d4-3948-41d5-8ff7-40c7edd6b67b.png')
INSERT [dbo].[Slider] ([Id], [Baslik], [Aciklama], [ResimUrl]) VALUES (3, N'Slider', N'Büyük aracımız ile şehirlerarası taşımacılık', N'/Uploads/Slider/e1fdf430-f053-4f96-8bbf-5b0e4e4fa24e.png')
INSERT [dbo].[Slider] ([Id], [Baslik], [Aciklama], [ResimUrl]) VALUES (5, N'Asansör ile Taşıma', N'Üst katlardaki ev eşyalarınızı asansör ile kolayca taşıyoruz.', N'/Uploads/Slider/9987cd60-9715-4590-a75e-aae1a488a6cc.jpg')
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Yorumlar] ON 

INSERT [dbo].[Yorumlar] ([Id], [AdSoyad], [Eposta], [Yorum], [BlogId], [Onay]) VALUES (1, N'hasan erdal', N'hasaerdaaaa@hotmail.com', N'hasanerdal', 9, 1)
INSERT [dbo].[Yorumlar] ([Id], [AdSoyad], [Eposta], [Yorum], [BlogId], [Onay]) VALUES (2, N'hasan erdal', N'hasaerdaaaa@hotmail.com', N'hasanerdal', 8, 1)
INSERT [dbo].[Yorumlar] ([Id], [AdSoyad], [Eposta], [Yorum], [BlogId], [Onay]) VALUES (3, N'hasan erdal', N'hasaerdaaaa@hotmail.com', N'hasanerdal', 9, 0)
SET IDENTITY_INSERT [dbo].[Yorumlar] OFF
GO
/****** Object:  Index [IX_KategoriId]    Script Date: 16.08.2020 21:06:14 ******/
CREATE NONCLUSTERED INDEX [IX_KategoriId] ON [dbo].[Blog]
(
	[KategoriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlogId]    Script Date: 16.08.2020 21:06:14 ******/
CREATE NONCLUSTERED INDEX [IX_BlogId] ON [dbo].[Yorumlar]
(
	[BlogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Iletisim] ADD  DEFAULT ('') FOR [Mail]
GO
ALTER TABLE [dbo].[Yorumlar] ADD  DEFAULT ((0)) FOR [Onay]
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Blog_dbo.Kategoriler_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoriler] ([Id])
GO
ALTER TABLE [dbo].[Blog] CHECK CONSTRAINT [FK_dbo.Blog_dbo.Kategoriler_KategoriId]
GO
ALTER TABLE [dbo].[Yorumlar]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Yorumlar_dbo.Blog_BlogId] FOREIGN KEY([BlogId])
REFERENCES [dbo].[Blog] ([Id])
GO
ALTER TABLE [dbo].[Yorumlar] CHECK CONSTRAINT [FK_dbo.Yorumlar_dbo.Blog_BlogId]
GO
USE [master]
GO
